.ticket-cont {
  width: 18rem;
  height: 12rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ticket-color-line {
  height: 10%;
}
.ticket-id-cont {
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.ticket-text-area {
  height: 78%;
  background-color: whitesmoke;
  padding: 0.5rem;
  font-size: 1.1rem;
}
