* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.lightblue {
  background-color: lightblue;
}
.lightgreen {
  background-color: lightgreen;
}
.lightpink {
  background-color: lightpink;
}
.black {
  background-color: black;
}
.red {
  color: white;
  background: red;
}
